streamlit
openai
langchain>=0.2.0
langchain-openai>=0.0.15
langchain-community>=0.0.26
langchain-huggingface>=0.0.2
pymupdf
python-dotenv
faiss-cpu
tiktoken
pytesseract
easyocr
opencv-python
Pillow
sentence-transformers
openpyxl
pydantic>=2.6
pydantic-core>=2.16
