streamlit
openai
langchain>=0.2.0
langchain-openai>=0.0.15
pymupdf
python-dotenv
faiss-cpu
tiktoken
pytesseract
easyocr
opencv-python-headless
Pillow
sentence-transformers
openpyxl
langchain-huggingface>=0.0.2 

# Add pydantic v2+ explicitly (LangChain v0.2+ needs it)
pydantic>=2.6
pydantic-core>=2.16
